/* src/components/layout/NavigationBar.css */
.navigation-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #1c2333; /* 다크 테마 배경색 */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 0;
  z-index: 1000;
  border-top: 1px solid #393f4a; /* 다크 테마 테두리색 */
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #a0a0a0; /* 비활성화 색상 */
  font-size: 0.7rem;
  transition: color 0.2s;
  cursor: pointer;
}

.nav-icon {
  font-size: 1.2rem;
  margin-bottom: 3px;
}

.nav-item.active {
  color: #f9ca24; /* 활성화 색상 - 노란색 */
}

.nav-text {
  font-size: 0.7rem;
}